{% extends 'base.html.twig' %}

{% block title %}{{ book.titulo }} - {{ book.autor }} | TKOH Bookstore{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/detail.css">
{% endblock %}

{% block body %}

<div class="container my-5">
    <div class="row">

        <div class="col-lg-5 mb-4">
            <div class="book-detail-image-container">
                <img src="{{ book.imagenGrande ?? book.imagen }}"
                     alt="{{ book.titulo }}"
                     class="book-main-image img-fluid"
                     onerror="this.src='/images/200x300-placeholder.jpg'">

                {% if book.imagenes is defined and book.imagenes|length > 1 %}
                    <div class="thumbnail-gallery mt-3">
                        {% for imagen in book.imagenes %}
                            <img src="{{ imagen }}"
                                 alt="{{ book.titulo }}"
                                 class="thumbnail-image"
                                 onclick="changeMainImage(this.src)">
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="col-lg-7">
            {% include 'catalog/_components/_book_detail_info.html.twig' with {'book': book} %}
        </div>

    </div>

    <div class="row mt-5">
        <div class="col-12">
            {% include 'catalog/_components/_book_detail_tabs.html.twig' with {'book': book} %}
        </div>
    </div>

    {% if relatedBooks is defined and relatedBooks|length > 0 %}
        <div class="row mt-5">
            <div class="col-12">
                {% include 'catalog/_components/_related_books.html.twig' with {'books': relatedBooks} %}
            </div>
        </div>
    {% endif %}

    <div class="row mt-5">
        <div class="col-12">
            {% include 'catalog/_components/_last_viewed_section.html.twig' %}
        </div>
    </div>

</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/js/pages/detail.js"></script>

    <script>
        {% set prices = both_prices(book.precio, book.moneda) %}

        if (typeof saveLastViewedBook !== 'undefined') {
            saveLastViewedBook({
                isbn: '{{ book.isbn }}',
                title: '{{ book.titulo|e('js') }}',
                author: '{{ book.autor|e('js') }}',
                category: '{{ book.categoria|default('')|e('js') }}',
                image: '{{ book.imagen }}',
                price: '{{ prices.usd_formatted }}',
                priceAlt: '{{ prices.pen_formatted }}',
                url: '{{ path('catalog_book_detail', {isbn: book.isbn}) }}'
            });
        }

        function changeMainImage(src) {
            document.querySelector('.book-main-image').src = src;
        }
    </script>
{% endblock %}
